<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/templates/home.js"></script>
</head>
<body>
    <div class="main_div">
    <h1>Welcome To File Uploads</h1>

    <form enctype="multipart/form-data">
          <label>This upload will be directly to s3 with put command: </label>
          <input type="file" id="d_file">
          <textarea class="file_description" rows="20" cols="15"></textarea>
          <button class="btn_put">Put</button>
        </form>

</div>
</body>
</html>