<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="templates/signup.css">
    <script src="templates/signup.js"></script>
</head>
<body>
    <form class="s_form">
        <label for="user_name">Username: </label>
        <input type="text" id="u_input" name="user_name">

        <label for="user_email">Email: </label>
        <input type="email" id="u_email" name="user_email">

        <label for="user_pass">Password: </label>
        <input type="password" id="u_pass" name="user_pass">

        <button id="btn_register">Register</button>
    </form>
</body>
</html>